.memory_imgContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
}

.memory_meta {
  display: flex;
  gap: 10px;
  width: 70vw;
  margin: auto;
  flex-wrap: wrap;
  padding: 16px;
  box-sizing: border-box;
}

.memory_imgContainer {
  flex: 2;
  min-width: 200px;
}
.memory_details {
  flex: 1;
  display: grid;
  place-content: center;
  white-space: nowrap;
}

.memory_imgContainer img {
  object-fit: contain;
}

.memory_desc {
  width: 60vw;
  margin: 16px auto;
  font-family: "Cedarville Cursive", cursive;
}
