.polaroid {
  float: left;
  position: relative;
  background-color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 2px 3px black;
}

.polaroid:hover {
  box-shadow: 5px 10px 100px black;
  -webkit-transform: scale(1.1, 1.1);
  z-index: 20;
}

.polaroid_imgContainer {
  height: 150px;
  min-width: 200px;
  margin: 0px;
  position: relative;
}

.polaroid_img {
  object-fit: cover;
}

.polaroid_caption {
  margin-top: 20px;
  font-family: "Cedarville Cursive", cursive;
  overflow: hidden;
  max-width: 20ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}
